## 지니 Top200 차트

In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

- Step 1.

In [2]:
url = 'https://www.genie.co.kr/chart/top200'
header = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/117.0.0.0 Safari/537.36'}
res = requests.get(url, headers=header)
soup = BeautifulSoup(res.text, 'html.parser')

In [3]:
soup.select_one('#inc_date')

In [4]:
from selenium import webdriver

driver = webdriver.Chrome()
driver.get(url)

In [8]:
soup = BeautifulSoup(driver.page_source, 'html.parser')
date = soup.select_one('#inc_date')
date

In [9]:
time = soup.select_one('#inc_time')
time

In [26]:
driver.close()

- Step 2

In [10]:
trs = soup.select('tr.list')
len(trs)

50

- Step 3

In [15]:
tr = trs[0]
# '1\n                                        \n                                    \n유지\n\n'
rank = tr.select_one('.number').get_text().split('\n')[0].strip()
rank

'1'

In [16]:
title = tr.select_one('.title.ellipsis').get_text().strip()
title

'Love Lee'

In [17]:
artist = tr.select_one('.artist.ellipsis').get_text().strip()
artist

'AKMU (악뮤)'

In [19]:
album = tr.select_one('.albumtitle.ellipsis').get_text().strip()
album

'Love Lee'

- Step 4

In [20]:
data = []
for tr in trs:
    rank = int(tr.select_one('.number').get_text().split('\n')[0].strip())
    title = tr.select_one('.title.ellipsis').get_text().strip()
    artist = tr.select_one('.artist.ellipsis').get_text().strip()
    album = tr.select_one('.albumtitle.ellipsis').get_text().strip()
    data.append({'rank':rank, 'title':title, 'artist':artist, 'album':album})

- Step 5: 생략
- Step 6

In [21]:
data = []
for page in range(1, 5):
    url = f'https://www.genie.co.kr/chart/top200?pg={page}'
    res = requests.get(url, headers=header)
    soup = BeautifulSoup(res.text, 'html.parser')
    trs = soup.select('tr.list')

    for tr in trs:
        rank = int(tr.select_one('.number').get_text().split('\n')[0].strip())
        title = tr.select_one('.title.ellipsis').get_text().strip()
        artist = tr.select_one('.artist.ellipsis').get_text().strip()
        album = tr.select_one('.albumtitle.ellipsis').get_text().strip()
        data.append({'rank':rank, 'title':title, 'artist':artist, 'album':album})

- Step 7

In [22]:
df = pd.DataFrame(data)
df.head()

,rank,title,artist,album
0,1,Love Lee,AKMU (악뮤),Love Lee
1,2,Smoke (Prod. by Dynamicduo & Padi),다이나믹 듀오 & 이영지,스트릿 우먼 파이터2 (SWF2) 계급미션
2,3,후라이의 꿈,AKMU (악뮤),Love Lee
3,4,ETA,NewJeans,NewJeans 2nd EP 'Get Up'
4,5,Seven (Feat. Latto) (Clean Ver.),정국,Seven (Clean Ver.)

In [24]:
date = date.string.replace('.','')
time = time.string.replace(':','')
filename = date + time + '.csv'
filename

'202309190900.csv'

In [25]:
df.to_csv('data/지니차트_'+filename, index=False)
pd.read_csv('data/지니차트_'+filename).tail()

,rank,title,artist,album
195,196,찰나가 영원이 될 때 (The Eternal Moment),마크툽 (Maktub),Red Moon : Beyond The Light
196,197,첫눈처럼 너에게 가겠다,에일리 (Ailee),도깨비 OST Part 9 (tvN 금토드라마)
197,198,ASAP,NewJeans,NewJeans 2nd EP 'Get Up'
198,199,떠나보낼 준비해 둘걸 그랬어,임한별,떠나보낼 준비해 둘걸 그랬어
199,200,사랑..그게 뭔데,지아 (Zia),사랑..그게 뭔데