### 2.4 데이터프레임 고급 인덱싱

In [1]:
import numpy as np
import pandas as pd

- loc 인덱서

In [2]:
df = pd.DataFrame(np.arange(10,22).reshape(3,4),
                  index=list('abc'), columns=list('ABCD'))
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [8]:
df.loc['b','C']     # loc[행 인덱스, 열 인덱스]

16

In [3]:
df.loc['a']

A    10
B    11
C    12
D    13
Name: a, dtype: int32

In [4]:
df.loc['a':'b']         # df['a':'b']와 동일한 결과

    A   B   C   D
a  10  11  12  13
b  14  15  16  17

In [5]:
df.loc[['a','b']]

    A   B   C   D
a  10  11  12  13
b  14  15  16  17

In [6]:
df.A > 15

a    False
b    False
c     True
Name: A, dtype: bool

In [7]:
df.loc[df.A > 15]

    A   B   C   D
c  18  19  20  21

- 행/열 인덱스 슬라이싱

In [9]:
df.loc['b':'c', 'B':'C']    # 이름인 경우에는 : 뒤 행/열을 포함

    B   C
b  15  16
c  19  20

- iloc 인덱서

In [10]:
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [11]:
df.iloc[1]

A    14
B    15
C    16
D    17
Name: b, dtype: int32

In [13]:
df.iloc[1:2, 1:2]       # 숫자는 : 뒤 행/열 숫자가 포함되지 않음

    B
b  15

In [14]:
df.iloc[1:, 1:3]

    B   C
b  15  16
c  19  20

- 연습 문제 4.3.1

In [15]:
df = pd.DataFrame(np.arange(10, 35).reshape(5, 5),
                  index=list('vwxyz'), columns=list('ABCDE'))
df

    A   B   C   D   E
v  10  11  12  13  14
w  15  16  17  18  19
x  20  21  22  23  24
y  25  26  27  28  29
z  30  31  32  33  34

In [17]:
df['C']['y'], df.C['y'], df['C'].y, df.C.y, df['C'][3], df.C[3]

(27, 27, 27, 27, 27, 27)

In [18]:
df.loc['y','C'], df.loc['y']['C'], df.loc['y'].C, df.loc['y'][2]

(27, 27, 27, 27)

In [19]:
df.iloc[3, 2], df.iloc[3][2], df.iloc[3]['C'], df.iloc[3].C

(27, 27, 27, 27)

In [26]:
df[3:4].C[0], df.iloc[3:4, 2:3].values[0,0]

(27, 27)