### 2.10 서울시 구별 CCTV 현황 분석
- 서울시 자치구 연도별 방범용 CCTV 운영 현황
- 서울시 주민등록인구(구별) 통계

In [16]:
import numpy as np
import pandas as pd

#### 1. CCTV 데이터

In [17]:
cctv = pd.read_csv('data/서울시 자치구 연도별 방범용 CCTV 운영 현황_230630기준.csv',
                   encoding='EUC-KR', index_col='구분', thousands=',')
cctv.head(3)

     Unnamed: 0  2015년  2016년  2017년  2018년  2019년  2020년  2021년  2022년  2023년
구분
종로구           1    935   1066   1225   1322   1338   1526   1573   1812   1808
중구            2    363    565    838   1174   1234   1482   1911   2026   2026
용산구           3   1398   1689   1831   1888   1986   2131   2321   2531   2647

In [18]:
cctv.drop(columns=['Unnamed: 0', '2023년'], inplace=True)
cctv.head(3)

     2015년  2016년  2017년  2018년  2019년  2020년  2021년  2022년
구분
종로구    935   1066   1225   1322   1338   1526   1573   1812
중구     363    565    838   1174   1234   1482   1911   2026
용산구   1398   1689   1831   1888   1986   2131   2321   2531

In [19]:
cctv['CCTV댓수'] = cctv.sum(axis=1)
cctv.head(3)

     2015년  2016년  2017년  2018년  2019년  2020년  2021년  2022년  CCTV댓수
구분
종로구    935   1066   1225   1322   1338   1526   1573   1812   10797
중구     363    565    838   1174   1234   1482   1911   2026    9593
용산구   1398   1689   1831   1888   1986   2131   2321   2531   15775

In [20]:
cctv['최근증가율'] = ((cctv['2020년'] + cctv['2021년'] + cctv['2022년']) / cctv['CCTV댓수'] * 100).round(2)
cctv.head(3)

     2015년  2016년  2017년  2018년  2019년  2020년  2021년  2022년  CCTV댓수  최근증가율
구분
종로구    935   1066   1225   1322   1338   1526   1573   1812   10797  45.48
중구     363    565    838   1174   1234   1482   1911   2026    9593  56.49
용산구   1398   1689   1831   1888   1986   2131   2321   2531   15775  44.27

In [21]:
cctv['최근증가율'] = (cctv.iloc[:, 5:-2].sum(axis=1) / cctv['CCTV댓수'] * 100).round(2)
cctv.head(3)

     2015년  2016년  2017년  2018년  2019년  2020년  2021년  2022년  CCTV댓수  최근증가율
구분
종로구    935   1066   1225   1322   1338   1526   1573   1812   10797  45.48
중구     363    565    838   1174   1234   1482   1911   2026    9593  56.49
용산구   1398   1689   1831   1888   1986   2131   2321   2531   15775  44.27

In [22]:
cctv.drop(columns='2015년	2016년	2017년	2018년	2019년	2020년	2021년	2022년'.split(),
          inplace=True)
cctv.head()

     CCTV댓수  최근증가율
구분
종로구   10797  45.48
중구     9593  56.49
용산구   15775  44.27
성동구   19915  51.76
광진구   15082  58.72

#### 2. 인구 데이터 정리하기

In [23]:
pop = pd.read_csv('data/서울시 구별 주민등록인구.csv', skiprows=1)
pop.head()

,동별(1),동별(2),세대 (세대),계 (명),한국인 (명),등록외국인 (명),세대당인구 (명),65세이상고령자 (명),세대 (세대).1,계 (명).1,한국인 (명).1,등록외국인 (명).1,인구밀도
0,합계,소계,4463385,9668008,9426404,241604,2.11,1690961,4469158,9659322,9414093,245229,2
1,합계,종로구,72679,152212,141060,11152,1.94,28265,72507,151349,140397,10952,2
2,합계,중구,63862,131390,120963,10427,1.89,25353,64375,132054,121441,10613,2
3,합계,용산구,109735,232482,217756,14726,1.98,39478,109679,232069,217288,14781,2
4,합계,성동구,133513,287240,280240,7000,2.10,48238,133484,286564,279374,7190,2

In [24]:
pop = pop[['동별(2)','계 (명)','한국인 (명)','등록외국인 (명)','65세이상고령자 (명)']]
pop.head(3)

  동별(2)    계 (명)  한국인 (명)  등록외국인 (명)  65세이상고령자 (명)
0    소계  9668008  9426404     241604       1690961
1   종로구   152212   141060      11152         28265
2    중구   131390   120963      10427         25353

In [25]:
pop.columns = ['구별','인구수','내국인','외국인','고령자']
pop.head(3)

    구별      인구수      내국인     외국인      고령자
0   소계  9668008  9426404  241604  1690961
1  종로구   152212   141060   11152    28265
2   중구   131390   120963   10427    25353

In [26]:
# 첫번째 행 지우기
pop.drop([0], inplace=True)
pop.head(3)

    구별     인구수     내국인    외국인    고령자
1  종로구  152212  141060  11152  28265
2   중구  131390  120963  10427  25353
3  용산구  232482  217756  14726  39478

In [27]:
# 구별을 인덱스로 만들기
pop.set_index('구별', inplace=True)
pop.head(3)

        인구수     내국인    외국인    고령자
구별
종로구  152212  141060  11152  28265
중구   131390  120963  10427  25353
용산구  232482  217756  14726  39478

In [28]:
# 외국인 비율, 고령자 비율
pop['외국인 비율'] = (pop.외국인 / pop['인구수'] * 100).round(2)
pop['고령자 비율'] = (pop['고령자'] / pop['인구수'] * 100).round(2)
pop.head(3)

        인구수     내국인    외국인    고령자  외국인 비율  고령자 비율
구별
종로구  152212  141060  11152  28265    7.33   18.57
중구   131390  120963  10427  25353    7.94   19.30
용산구  232482  217756  14726  39478    6.33   16.98

#### 3. CCTV 데이터와 POP 데이터 합치기

In [29]:
df = pd.merge(cctv, pop, left_index=True, right_index=True)
df.head()

     CCTV댓수  최근증가율     인구수     내국인    외국인    고령자  외국인 비율  고령자 비율
종로구   10797  45.48  152212  141060  11152  28265    7.33   18.57
중구     9593  56.49  131390  120963  10427  25353    7.94   19.30
용산구   15775  44.27  232482  217756  14726  39478    6.33   16.98
성동구   19915  51.76  287240  280240   7000  48238    2.44   16.79
광진구   15082  58.72  350925  336801  14124  54854    4.02   15.63

In [30]:
df.shape

(25, 8)

In [31]:
df.index.name = '구별'
df.head()

     CCTV댓수  최근증가율     인구수     내국인    외국인    고령자  외국인 비율  고령자 비율
구별
종로구   10797  45.48  152212  141060  11152  28265    7.33   18.57
중구     9593  56.49  131390  120963  10427  25353    7.94   19.30
용산구   15775  44.27  232482  217756  14726  39478    6.33   16.98
성동구   19915  51.76  287240  280240   7000  48238    2.44   16.79
광진구   15082  58.72  350925  336801  14124  54854    4.02   15.63

In [32]:
df.to_csv('data/서울시 구별 CCTV 인구 현황.csv')

In [33]:
pd.read_csv('data/서울시 구별 CCTV 인구 현황.csv').head()

    구별  CCTV댓수  최근증가율     인구수     내국인    외국인    고령자  외국인 비율  고령자 비율
0  종로구   10797  45.48  152212  141060  11152  28265    7.33   18.57
1   중구    9593  56.49  131390  120963  10427  25353    7.94   19.30
2  용산구   15775  44.27  232482  217756  14726  39478    6.33   16.98
3  성동구   19915  51.76  287240  280240   7000  48238    2.44   16.79
4  광진구   15082  58.72  350925  336801  14124  54854    4.02   15.63